
{% extends 'css.html' %}
{% load static %}
{% block content %}
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
    <!--<link rel = "icon" href = "{% static 'C:\\Users\\hp\\projects\\guide\\home\\static\\image\\logo.png' %}" type = "image/x-icon">
    <header>
        <nav class="head">
            <img src="#" class="img">
        </nav>
    </header>-->
    </head>
    <body>
        <header>
            <nav class="head">
                <ul >
                    <li><a class="w" href="register" style="color:#000">Register</a></li>
                    <li><a class="w" href="login" style="color:#000">Login</a></li>
                    <li><a class="w" href="index" style="color:#000">Home</a></li>
                </ul>
            </nav>
            <img class="img1" src="{% static 'C:\\Users\\hp\\Desktop\\tutor\\tutor\\student\\static\\img\\back2.jpeg' %}">
        
    </header>
        <!-- <div class="container">
                <div class="login">
                    <h3>Login</h3>
                </div>
                {% csrf_token %}
                <h1>Types of Users</h1>
                <a href="login">
                    <button type="submit" id="btn-stud" style="color:#000">Tutor</button>
                </a>
                <a href="login">
                    <button type="submit" id="btn-stud" style="color:#000">Student</button>
                </a>
                
        </div> -->
    </body>
{% endblock %}